.main {
  min-height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
}

.mainContainer {
    margin: 4rem auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-dark--1);
}

.img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.loading {
    height: 2rem;
    font-size: 1.4rem;
}

.button {
    background-color: orange;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.4rem;
    border-radius: 6px;
    cursor: pointer;
}