.main {
  min-height: calc(100vh - 5rem);
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  font-size: 2rem;
  color: var(--color-dark--1);
  background-color: orange;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 10vh;
  background-color: khaki;
  color: var(--color-dark--1);
}

.taskInput {
  all: unset;
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.addButton {
  background-color: orange;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.addButton:hover {
  background-color: darkorange;
}

.resultsContainer {
  min-height: 40vh;
  background-color: white;
}

.listContainer {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  margin: 0 auto;
  color: var(--color-dark--1);
}

.listItem {
  background-color: cornsilk;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
}

.listItem input {
  cursor: pointer;
  margin-right: 1rem;
}

.buttonDelete {
  cursor: pointer;
  margin-left: 1.5rem;
}

.taskCompleted {
  text-decoration: line-through;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: darkolivegreen;
  color: white;
  font-size: 1.8rem;
}
