.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.ctaLink:link,
.ctaLink:visited {
    background-color: var(--color-orange--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 8px;
}
