/* -- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*************************************
 RESETS AND GLOBAL STYLES
 *************************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
  --color-orange--1: #e39400;
  --color-orange--2: #e9ac3a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-light--2);
}

ul,
li {
  list-style: none;
}

a,
button {
  all: unset;
}

/*************************************
 REUSABLE CLASSES
 *************************************/

.cta:link,
.cta:visited {
  background-color: var(--color-orange--1);
  color: var(--color-dark--1);
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}
