.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: orange;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 10vh;
  background-color: khaki;
}

.task-input {
  all: unset;
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.add-button {
  all: unset;
  background-color: orange;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: darkorange;
}

.results-container {
  height: 65vh;
  background-color: #f5f5f5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: darkolivegreen;
  color: white;
  font-size: 1.8rem;
}
