.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: orange;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 10vh;
  background-color: khaki;
}

.task-input {
  all: unset;
  background-color: white;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.add-button {
  background-color: orange;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: darkorange;
}

.results-container {
  height: 65vh;
  background-color: white;
}

.list-container {
  display: flex;
  flex-direction: row;
  max-width: 60rem;
  margin: 0 auto;
}

.list-item {
  background-color: cornsilk;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  font-size: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.button-delete {
  margin-left: 12px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: darkolivegreen;
  color: white;
  font-size: 1.8rem;
}
